<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Cryptography</title>
	<meta name="author" content="Chris Wood">
	<link href="/media/style.css" rel="stylesheet" type="text/css" media="screen" />
	<!-- Date: 2013-01-30 -->
</head>
<body>
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">{{ title }}</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="#">Homepage</a></li>
				<li><a href="#">Enter</a></li>
				<li><a href="#">Solve</a></li>
				<li><a href="#">Adjust-something2</a></li>
			</ul>
		</div>
	</div>
	<div id="splash-wrapper">
		<div id="splash">
			<h2>{{ rtype }}</h2>
			<p><form action="/decrypt/" method="post" id='encryted-data'>
				<textarea cols="40" rows="5" name="enc_data" id="enc_data">{{ debug }}</textarea>
                <input type="submit" value="Decipher" />
            </form></p>
		</div>
	</div>
	<!-- end #header -->

	<div id="footer">
		<div class="content">
			<p>Copyright (c) 2013 ChrisWood Productions. All rights reserved.</p>
		</div>
	</div>
	<!-- end #footer -->

</body>
</html>